<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moamen.letspractice">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Standing"
 	    android:screenOrientation="portrait"></activity>
        <activity 
            android:name=".CompetitionActivity" 
	    android:screenOrientation="portrait"/>
        <activity
            android:name=".About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PracticeResulte"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartPractice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PracticeList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PracticeLevel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9403143534907409~2276640678" />
    </application>

</manifest>
